.toggle-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    cursor: pointer;
}

.switch {
    position: relative;
    width: 36px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    inset: 0;
    background: var(--secondary-text-color);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.slider::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: var(--text-color);
    border-radius: 50%;
    transition: 0.2s;
}

input:checked+.slider {
    background: var(--theme-color);
}

input:checked+.slider::before {
    transform: translateX(16px);
}

.toggle-label {
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.toggle-label img {
    width: 20px;
    height: 20px;

}